@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/BebasNeue-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Cormorant-BoldItalic.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Outfit-Bold.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Outfit-Light.ttf')
  format('truetype');
}

:root {
  /** Layout **/
  --layout-max: 1270px;
  --layout-max--reading: 820px;
  --layout-max--small: 586px;
  --layout-header--mobile: 80px;
  --layout-header--desktop: 200px;

  --pad: clamp(10px, 1rem, 20px);
  --pad-half: clamp(5px, 0.5rem, 10px);
  --pad-double: clamp(20px, 2rem, 40px);
  --pad-quad: clamp(40px, 4rem, 80px);

  /* Colors */
  --color-black: #000;
  --color-black--trans: rgba(0,0,0,0.75);
  --color-black--clear: rgba(0,0,0,0);
  --color-grey: #999;
  --color-white: #fff;
  --color-white--trans: rgba(255,255,255,0.1);
  --color-yellow: #fab800;
  --color-red: #e24000;
  --color-blue: #0f7ac1;

  /** Typography **/
  --font-family--default: 'Outfit', sans-serif;
  --font-family--serif: 'Cormorant', serif;
  --font-family--deco: 'Bebas Neue', sans-serif;

  --font-size: 16px;
  --font-size--bump: 1.15rem;
  --font-size--large: 1.5rem;
  --font-size--huge: 2rem;
  --font-size--whoa: 3rem;

  --font-weight--regular: 300;
  --font-weight--bold: 700;

  /** Transitions **/
  --transition-hover: all 350ms cubic-bezier(0.22, 1, 0.36, 1);
  --transition-grow: all 500ms cubic-bezier(0.22, 1, 0.36, 1);
  --transition-move: all 1s cubic-bezier(0, 0.55, 0.45, 1);
  --transition-inview: all 1.5s cubic-bezier(0.25, 1, 0.5, 1);

  /** Borders **/
  --border-width: 4px;
  --border-radius: 2px;
  --border: var(--border-width) solid var(--color-yellow);
}
