---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Page not found';
const description = 'ProtoRebel specializes in sleek, efficient websites and software. We help bring challenging ideas to life for businesses beyond conventional marketing.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink} current="home">
  <section>Pag enot found</section>
</BaseLayout>

<style>
</style>
