---
import Page from '../layouts/Page.astro';

const title = 'Page not found';
const description = 'We cannot find the page you\'re looking for.';
const permalink = Astro.site.href;
---

<Page title={title} description={description} permalink={permalink} current="error">
  <section>
    <p>
      404 Not Found
    </p>
    <p>
      <span id="current-url"></span>
    </p>
  </section>
  <script>
    document.getElementById('current-url').textContent = window.location.href;
  </script>
</Page>

<style>

</style>
