---
import Page from '../layouts/Page.astro';

const current = 'contact';
const title = 'Get in touch with ProtoRebel, curator of SpudKick';
const description = '';
const permalink = Astro.site.href + current;
---

<Page title={title} description={description} permalink={permalink} current={current}>
  <section>
    <p>
      Contact page information
    </p>
  </section>
</Page>

<style>

</style>
