---
import LayoutDefault from '../layouts/LayoutDefault.astro';

const title = 'Get in touch with ProtoRebel, curator of SpudKick';
const description = '';
const permalink = Astro.site.href;
---

<LayoutDefault title={title} description={description} permalink={permalink} current="home">
  <section>
    <p>
      Contact page information
    </p>
  </section>
</LayoutDefault>

<style>

</style>
