---
import LayoutDefault from '../layouts/LayoutDefault.astro';

const title = 'SpudKick: Astro Starter Theme';
const description = 'A super lean, performant, and helpful Astro Theme ready to jump in any direction.';
const permalink = Astro.site.href;
---

<LayoutDefault title={title} description={description} permalink={permalink} current="home">
  <section>
    <p>
      Page content goes here
    </p>
  </section>
</LayoutDefault>

<style>

</style>
