<html>
  <head>
    <title>ProtoRebel Email Signature</title>
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <h1>Large</h1>
    <p style="font-size: 1em; padding-bottom: 0; margin-bottom: 0; font-family: sans-serif; text-transform: lowercase; line-height: 1.15; color: inherit;">
      <strong style="font-style: italic; font-size: 1.75em; font-family: 'Garamond', serif;">Dustin Jones</strong>
      <br />
      <strong>208.654.1004</strong> &bull; <a href="tel:2086541004" style="color: #0f7ac1;">Call</a> &bull; <a href="sms:2086541004" style="color: #0f7ac1;">Text</a>
      <br />
      <a href="mailto:2086541004" style="color: #0f7ac1;"><strong>dustin@protorebel.com</strong></a>
    </p>
    <p style="font-size: 0.85em; padding: 0.5em 0 0.5em 0.75em; margin: 0.5em; font-family: sans-serif;  border-left: 2px solid #fab800; text-transform: lowercase; line-height: 1; color: inherit;">
    ProtoRebel, LLC
      <br />
    Boise, Idaho
      <br />
      <a href="https://protorebel.com" target="_blank" style="color: #0f7ac1;">protorebel.com</a>
    </p>
    <h1>Compact</h1>
    <p style="font-size: 0.9em; padding-bottom: 0; margin-bottom: 0; font-family: sans-serif; text-transform: lowercase; line-height: 1.15; color: inherit;">
      <strong style="font-style: italic; font-size: 1.65em; font-family: 'Garamond', serif;">Dustin Jones</strong>
      <br />
      <strong>208.654.1004</strong> &bull; <a href="tel:2086541004" style="color: #0f7ac1;">Call</a> &bull; <a href="sms:2086541004" style="color: #0f7ac1;">Text</a>
      <br />
      <small><a href="https://protorebel.com" style="color: #0f7ac1;">protorebel.com</a></small>
    </p>
  </body>
</html>