---
const { sectionList } = Astro.props;

---

{sectionList.map(([title, sublist]) => (
  <li>
    {Array.isArray(sublist) ? (
      <>
        <span>{title}</span>
        <ul>
          {sublist.map((subItem) => (
            <li>{subItem}</li>
          ))}
        </ul>
      </>
    ) : (
      <>{title}</>
    )}
  </li>
))}

<style>
    li::marker {
        color: var(--color-yellow);
        font-weight: var(--font-weight--bold);
        font-size: var(--font-size--large);
    }

    li ul {
        list-style-type: circle;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 1em;
    }

    li span {
        font-size: 1.25em;
        color: var(--color-white);
    }
</style>