---
export interface Props {
    before: string;
    words: string[];
    after: string;
}

const { before, words, after } = Astro.props;

// Ensure the words prop is valid
if (!words || words.length === 0) {
  throw new Error('The words prop must be an array with at least one word.');
}
---

<h2>
  <span>{before}</span>
  <span class="rotating-container">
    {words.map((word) => (
      <span class="rotating-word">{word}</span>
    ))}
  </span>
  <span>{after}</span>
</h2>

<style>
    h2 {
        color: var(--color-white);
        font-family: var(--font-family--default);
        font-style: normal;
        font-size: 1.75em;
        display: flex;
        align-items: flex-start;
        font-weight: var(--font-weight--regular);
        margin-bottom: var(--pad-small);
        flex-direction: column;
    }

    .rotating-container {
        position: relative;
        font-weight: bold;
        height: 1.5em;
        overflow: hidden;
        width: 8.5ex;
        color: var(--color-yellow);
        font-style: italic;
        font-size: 1.5em;
    }

    .rotating-word {
        position: absolute;
        width: 100%; /* Each word takes the full width of the container */
        opacity: 0; /* Start hidden */
        animation: fade 12s infinite; /* Total duration for 3 words */
        font-size: inherit; /* Ensure it inherits font size */
        transition: opacity 0.5s ease; /* Add transition for smoothness */
        font-family: var(--font-family--serif);
        text-align: left;
        line-height: 1.5;
    }

    @media (min-width: 960px) {
        h2 {
            flex-direction: row;
            align-items: center;
        }

        .rotating-word {
            text-align: center;
        }
    }

    @keyframes fade {
        0%, 20% {
            opacity: 0; /* Start hidden */
        }
        25%, 45% {
            opacity: 1; /* Fade in */
        }
        50%, 70% {
            opacity: 0; /* Fade out */
        }
    }

    /* Set animation delays for each word */
    .rotating-word:nth-child(1) {
        animation-delay: 0s; /* First word */
    }
    .rotating-word:nth-child(2) {
        animation-delay: 4s; /* Second word */
    }
    .rotating-word:nth-child(3) {
        animation-delay: 8s; /* Third word */
    }
</style>
