---
import VideoBacking from '../components/VideoBacking.astro';
---

<div>
  <VideoBacking />
  <img alt="Mark for ProtoRebel, LLC" src="/assets/images/pr-mask-mark.svg" width="300" height="300" />
</div>

<style>
    div {
        display: none;
    }

    @media (min-width: 960px) {
        div {
            display: block;
            position: fixed;
            width: 45%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    video, img {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
</style>