---
import { getBusinessInfo } from '../utils/getBusinessInfo';

const { current = '' } = Astro.props;
---

<a href="/">
  <img alt=`Logo for ${getBusinessInfo('name')}` src="/assets/images/pr-logo-white.svg" width="226" height="40" class={current} />
</a>

<style>

</style>
