---
import { getBusinessInfo } from '../utils/getBusinessInfo';
import { getSocial } from '../utils/getSocial';

const phoneClean = getBusinessInfo('phone', 'clean');

---

<footer>
  <p class="phone">{getBusinessInfo('phone')} &bull; <a href=`tel:${phoneClean}`>Call</a> &bull; <a href=`sms:${phoneClean}`>Text</a></p>
  <p class="address">{getBusinessInfo('address')}</p>
  <p class="copyright">&copy; <span id="copyright-year"></span> {getBusinessInfo('name')}</p>
</footer>

<script>
  document.getElementById('copyright-year').textContent = new Date().getFullYear();
</script>

<style>

</style>
